<div class="content" >
    <div class="title-row">
        <div class="title">Manage Organization</div>
        <button pButton type="button" *ngIf="connected" (click)="navigateToAccess()" class="p-button-raised p-button-outlined p-button-info" label="Manage Access" icon="pi pi-unlock" iconPos="right"></button>
    </div>

    <div class="no-profile" *ngIf="!connected">
        <div class="row center">
            <span class="pi pi-exclamation-triangle no-profile-icon"></span>
        </div>
        <div class="row center">
            <span class="no-profile-msg">No Organization Profile Found!</span>
        </div>
        <div class="row center">
            <button pButton type="button" class="p-button-raised" (click)="showCreateProfileDialog()" icon="pi pi-briefcase" iconPos="right" label="Create Profile"></button>
        </div>
    </div>

    <div class="stats" *ngIf="connected">
        <p-card header="Systems Managed">
            <div class="row startend">
                <div class="pi pi-chart-line icon blue-color"></div>
                <div class="text">{{ organization }}</div>
            </div>
        </p-card>
        <p-card header="Access Rules">
            <div class="row startend">
                <div class="pi pi-unlock icon orange-color"></div>
                <div class="text">{{ noAccessRules }}</div>
            </div>
        </p-card>
        <p-card header="Users">
            <div class="row startend">
                <div class="pi pi-users icon green-color"></div>
                <div class="text">{{ noUsers }}</div>
            </div>
        </p-card>
    </div>

    <div *ngIf="connected" class="row" style="justify-content: flex-end;">
        <p-card header="Organization Details" style="max-width: 50%">
            <div class="details">
                <span class="p-input-icon-left">
                    <i class="pi pi-briefcase"></i>
                    <input type="text" pInputText placeholder="Organization" [(ngModel)]="organizationName" pTooltip="organization name" tooltipPosition="bottom" [disabled]="disableEdit">
                </span>
            </div>
            <ng-template pTemplate="footer">
                <div class="align-end">
                    <button *ngIf="disableEdit" (click)="showRemoveProfileDialog()" pButton class="p-button-outlined p-button-danger" label="Remove" tooltipPosition="left" icon="pi pi-trash" iconPos="right" type="button"></button>
                    <button *ngIf="disableEdit" (click)="disableEdit = disableEdit ? false : true" pButton class="p-button-outlined p-button-warning" label="Edit" tooltipPosition="left" icon="pi pi-pencil" iconPos="right" type="button"></button>
                    <button *ngIf="!disableEdit" (click)="showUpdateProfileDialog()" pButton class="p-button-outlined p-button-success" label="Update" tooltipPosition="left" icon="pi pi-check" iconPos="right" type="button"></button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>

<p-dialog header="Create Profile" [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [(visible)]="displayCreateProfileDialog" [closable]="false" [modal]="true" [draggable]="false" [style]="{width:'50vw'}">
    <div class="details">
        <span class="p-input-icon-left">
            <i class="pi pi-briefcase"></i>
            <input type="text" pInputText placeholder="Organization" [(ngModel)]="organizationName" pTooltip="organization name" tooltipPosition="bottom">
        </span>
    </div>

    <ng-template pTemplate="footer">
        <div class="dialog-button">
            <button pButton type="button" (click)="closeCreateProfileDialog()" class="p-button-outlined p-button-warning" label="Cancel" icon="pi pi-times" iconPos="right"></button>
            <button pButton type="button" (click)="createOrganization()" class="p-button-outlined p-button-success" label="Create" icon="pi pi-check" iconPos="right" autofocus></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Confirm Update Profile" [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [(visible)]="displayUpdateProfileDialog" [closable]="false" [modal]="true" [draggable]="false" [style]="{width:'50vw'}">
    Are you sure you want to save the Organization changes?
    <ng-template pTemplate="footer">
        <div class="dialog-button">
            <button pButton type="button" (click)="closeUpdateProfileDialog()" class="p-button-outlined p-button-warning" label="Cancel" icon="pi pi-times" iconPos="right" autofocus></button>
            <button pButton type="button" (click)="updateOrganization()" class="p-button-outlined p-button-success" label="Update" icon="pi pi-check" iconPos="right"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Confirm Remove Profile" [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [(visible)]="displayRemoveProfileDialog" [closable]="false" [modal]="true" [draggable]="false" [style]="{width:'50vw'}">
    Are you sure you want to remove the Organization?
    <ng-template pTemplate="footer">
        <div class="dialog-button">
            <button pButton type="button" (click)="closeRemoveProfileDialog()" class="p-button-outlined p-button-warning" label="Cancel" icon="pi pi-times" iconPos="right" autofocus></button>
            <button pButton type="button" (click)="removeOrganization()" class="p-button-outlined p-button-success" label="Confirm" icon="pi pi-check" iconPos="right"></button>
        </div>
    </ng-template>
</p-dialog>