<p-menubar>
    <ng-template pTemplate="start">
        <div class="header">
            <img src="../../../assets/icon.png">
            <div>Fil-Auth</div>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <button pButton type="button" class="p-button-rounded p-button-outlined" icon="pi pi-user" pTooltip="Connected" tooltipPosition="left"></button>
    </ng-template>
</p-menubar>

<div class="content" >
    <div class="title-row">
        <div class="title">Manage Access</div>
        <button pButton type="button"(click)="openCreateRuleDialog()" class="p-button-raised p-button-outlined p-button-warning" label="Create Access Rule" icon="pi pi-unlock" iconPos="right"></button>
    </div>

    <p-card header="Available Access Rules">
        <div class="no-rules" *ngIf="!(accessRules.length > 0)">
            <div class="center">
                <span class="pi pi-exclamation-triangle no-rules-icon"></span>
            </div>
            <div class="center">
                <span class="no-rules-msg">No Access Rule Found!</span>
            </div>
            <div class="center">
                <button pButton type="button" class="p-button-raised p-button-warning" (click)="openCreateRuleDialog()" icon="pi pi-unlock" iconPos="right" label="Create Access Rule"></button>
            </div>
        </div>

        <div class="rules" *ngIf="accessRules.length > 0">
            <div class="panel-row" *ngFor="let rule of accessRules">
                <div class="title">- Main Website</div>
                <div class="row">
                    <button pButton type="button"(click)="openRemoveDialog()" class="p-button-sm p-button-text p-button-danger" pTooltip="Remove Access Rule" tooltipPosition="left" icon="pi pi-unlock" iconPos="right"></button>
                    <button pButton type="button"(click)="openUpdateRuleDialog()" class="p-button-sm p-button-text p-button-warning" pTooltip="Update Access Rule" tooltipPosition="left" icon="pi pi-pencil" iconPos="right"></button>
                    <button pButton type="button"(click)="navigateToUsers()" class="p-button-sm p-button-text p-button-info" pTooltip="Manage User" tooltipPosition="left" icon="pi pi-users" iconPos="right"></button>
                </div>
            </div>
        </div>
    </p-card>
</div>

<p-dialog header="Create Access Rule" [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [(visible)]="displayCreateRule" [maximizable]="true" [closable]="false" [modal]="true" [draggable]="false" [style]="{width:'50vw'}">
    Content
    <ng-template pTemplate="footer">
        <div class="dialog-button">
            <button pButton type="button" (click)="closeCreateRuleDialog()" class="p-button-outlined p-button-warning" label="Cancel" icon="pi pi-times" iconPos="right" autofocus></button>
            <button pButton type="button" (click)="createAccessRule()" class="p-button-outlined p-button-success" label="Create" icon="pi pi-check" iconPos="right"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Update Access Rule" [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [(visible)]="displayUpdateRule" [maximizable]="true" [closable]="false" [modal]="true" [draggable]="false" [style]="{width:'50vw'}">
    Content
    <ng-template pTemplate="footer">
        <div class="dialog-button">
            <button pButton type="button" (click)="closeUpdateRuleDialog()" class="p-button-outlined p-button-warning" label="Cancel" icon="pi pi-times" iconPos="right" autofocus></button>
            <button pButton type="button" class="p-button-outlined p-button-success" label="Create" icon="pi pi-check" iconPos="right"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Remove Access Rule" [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [(visible)]="displayRemoveRule" [closable]="false" [modal]="true" [draggable]="false" [style]="{width:'50vw'}">
    Are you sure you want to remove the Access Rule?
    <ng-template pTemplate="footer">
        <div class="dialog-button">
            <button pButton type="button" (click)="closeRemoveDialog()" class="p-button-outlined p-button-warning" label="Cancel" icon="pi pi-times" iconPos="right" autofocus></button>
            <button pButton type="button" class="p-button-outlined p-button-success" label="Confirm" icon="pi pi-check" iconPos="right"></button>
        </div>
    </ng-template>
</p-dialog>