.header {
    display: flex;
    gap: 5px;
    color: var(--primary-color);
}

.header div {
    font-size: 1.5rem;
    font-weight: 700;
}

.header img {
    width: 2.2rem;
    height: 2.2rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--surface-b);
}

.no-users {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 150px;
}

.center {
    justify-content: center;
}

.no-usesr-icon {
    font-size: 3.5rem;
    color: var(--orange-500);
}

.no-users-msg {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--surface-d);
}